<div class="col-md-12" id="editor-functions">
  <div class="col-md-6">
    <ul id="text-alignment" class="list-inline">
      <li id="text-left">Text Left</li>
      <li id="text-center">Text Center</li>
      <li id="text-right">Text Right</li>
    </ul>
  </div>


  <div class="col-md-5 col-md-offset-1">
    <ul id="text-color" class="list-inline">
      <li class="red" id="red">Red</li>
      <li class="blue" id="blue">Blue</li>
      <li class="green" id="green">Green</li>
      <li class="black" id="black">Black</li>
    </ul>
  </div>


</div>

<textarea id='inline-editor' name='inline-editor' rows='38' columns='80' placeholder="type something..." ></textarea>
