<div class="editor-section">
  <div class="col-md-12" id="editor-functions">
    <div class="col-md-4 columns">
      <ul id="text-alignment" class="list-inline text-center">
        <li id="text-left"><img src="images/left-alignment.svg" alt="align left"></li>
        <li id="text-center"><img src="images/center-alignment.svg" alt="align center"></li>
        <li id="text-right"><img src="images/right-alignment.svg" alt="align right"></li>
      </ul>
    </div>

    <div class="col-md-4 columns">
      <ul id="font-sizes" class="list-inline text-center">
        <li id="decrease-font" data-font-size="-2"><img src="images/minus.svg" alt="decrease font size"></li>
        <li id="increase-font" data-font-size="2"><img src="images/plus.svg" alt="increase font size"></li>
      </ul>
    </div>

    <div class="col-md-4 columns">
      <ul id="text-color" class="list-inline text-center">
        <li class="background-red" id="red"></li>
        <li class="background-green" id="green"></li>
        <li class="background-blue" id="blue"></li>
        <li class="background-purple" id="purple"></li>
        <li class="background-orange" id="orange"></li>
        <li class="background-black" id="black"></li>
      </ul>
    </div>
  </div>

  <textarea id='inline-editor' name='inline-editor' rows='38' columns='80' placeholder="type something..." ></textarea>
</div>
