<div class="editor-section">
  <div class="col-md-12" id="editor-functions">
    <div class="col-md-6">
      <ul id="text-alignment" class="list-inline">
        <li id="text-left"><img src="images/left-alignment.svg" alt="align left"></li>
        <li id="text-center"><img src="images/center-alignment.svg" alt="align center"></li>
        <li id="text-right"><img src="images/right-alignment.svg" alt="align right"></li>
      </ul>
    </div>


    <div class="col-md-5 col-md-offset-1">
      <ul id="text-color" class="list-inline text-right">
        <li class="background-red" id="red"></li>
        <li class="background-green" id="green"></li>
        <li class="background-blue" id="blue"></li>
        <li class="background-black" id="black"></li>
      </ul>
    </div>
  </div>

  <textarea id='inline-editor' name='inline-editor' rows='38' columns='80' placeholder="type something..." ></textarea>
</div>
